*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.menu-content{
    color: whitesmoke;
    font-size: 35;
    font-weight: bold;
    
}
 
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: whitesmoke;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 7px;
    border-radius: 3px;

}

a.active, a:hover{
    background: rosybrown;
    transition: .5s;
}


