*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.menu-content{
    color: whitesmoke;
    font-size: 35;
    font-weight: bold;
    
}
 
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    position: relative;
}

nav ul li a {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 7px;
    border-radius: 3px;

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 175px;

}

nav ul li:hover ul {
    display:block;
}

nav ul li ul li {
        width: 180px;
        border-radius: 4px;
}

nav ul li ul li a {
    padding: 18px 20px; 
    color: black;
}

nav ul li ul li a:hover {
    background-color: rosybrown; 
}


a.active, a:hover{
    background: rosybrown;
    transition: .5s;
}


