* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html{
    height: -webkit-fill-available;
}

@media screen and (max-width: 750px){
    .paragraphs {
        grid-template-columns: 1fr;

    }

    .menu-content {
        height: 50px;

    }
}


body {
    background-color: rgb(244, 236, 233);
    height: -webkit-fill-available;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: nowrap;

}

.card {
    background: rgb(214, 197, 190);
    width: 300px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    background-color: black;
    height: 600px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
}

.card-image1 {
    border-radius: 15px;
    height: 300px;
}

.card-image1 p {
    margin-top: 20px;
}


.card-image2 {
    height: 600px;
    border-radius: 15px;
}

.card-image2 p {
    margin-top: 20px;

}


.card-image3 {
    height: 950px;
    position: center;
    border-radius: 15px;
}

.card-image3 p {
    margin-top: 20px;

}


.info-footer {
    color:black;
    grid-area: info-footer;
    margin-top: 325px;
    background-image: url('Cooking.webp');
    height: 250px;
    left: 0px;
}

.footer-notes:hover {
    position: static;
    color: black;
}

.footer-notes ul li img:hover {
        width: 70px;
        height: 70px;
}

.pic {
    width: 30px;
    height: 30px;
}

.pic2 {
    width: 30px;
    height: 30px;
    transition: width 0.3s linear 0s;
}

.pic:hover + .pic2 {
    width: 100px;
}
