html{
    box-sizing: border-box;
    font-size: 100%;
}

:before, :after{
    box-sizing: inherit;
}

body{

    @media (min-width: 56.25em){
        grid-template-columns: 1fr 300px;
    }
}

h1{
    font-size: 75px;
    color:black;
    font-family: sans-serif;

}

h3{
    font-size:medium;
    color:black;
    margin-bottom: 0;

}

p{
    line-height: 20px;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;
    
}

blockquote{
    line-height: 20px;
    font-size: 20;
    font-family: sans-serif;
}
