html {
    box-sizing: border-box;
}

body{

    @media (min-width: 56.25em){
        grid-template-columns: 1fr 300px;
    }
}

.ref-page {
    display:grid;
    grid-gap: 5px;
    grid-template-columns:(10, 1fr);
    grid-template-rows: (1fr 1fr 1fr 1fr);
    grid-template-areas: 
    "menu-content"
    "top-header"
    "reference-info"
    "ref-footer ref-footer ref-footer"
}

.menu-content {
    grid-area: menu-content;
}

.top-header {
    color: black;
    grid-area: top-header;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.top-header h1 {
    font-size: 55px;
    margin-left: 10px;
}

.reference-info {
    color: black;
    grid-area: paragraphs;
    margin-left: 10px;
    margin-top: 40px;
}

.ref-info {
        font-size: 20;
}

.ref-footer {
    color:black;
    grid-area: extra;
    margin-right: 900px;
    margin-top: 145px;
    height: 180px;
    left: 0px;
    right: 0px;
    background-color: whitesmoke;
}

.footer-info:hover {
    
    color: black;
}

.footer-info ul li img:hover {
        width: 70px;
        height: 70px;
}

.pic {
    width: 30px;
    height: 30px;
}

.pic2 {
    width: 30px;
    height: 30px;
    transition: width 0.3s linear 0s;
}

.pic3 {
    width:30px;
    height:30px;
}

.pic:hover + .pic2 {
    width: 100px;
}







